@CHARSET "UTF-8";

@import url(http://fonts.googleapis.com/css?family=Roboto);

body{
	background: #f5f5f5;
	padding: 0;
	margin: 0;
	font-family: Tahoma, sans-serif;
}

h1, h2, h3, h4, h5{
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
}

.custom_file{
	opacity: 0;
}

#page{
	width: 670px;
	margin: 0 auto;
	background: white;
	padding: 15px;
	margin-top: 75px;
}

#file_upload_form{
	border: 1px solid #999;
	position: relative;
	color: black;
	font-size: 25px;
	width: 668px;
	height: 75px;
	line-height: 75px;
	text-align: center;
}

#file_upload_form .custom_file{
	width: 668px;
	height: 75px;
	position: absolute;
	display: block;
	top: 0px;
	left: 0px;
	opacity: 0;
	cursor: pointer;
}

#file_upload_form:hover{
	background: #f5f5f5;	
}

#submit_form{
	width: 670px;
	border: 1px solid #999;
	background: transparent;
	padding: 10px;
	margin: 5px 0 0 0;
	cursor: pointer;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 16px;
}

#submit_form:hover{
	background: #f5f5f5;	
}

